n8n/workflows/comfyui-simple.json
{
  "name": "Simple ComfyUI Generation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "comfyui-simple",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "simple-webhook-1",
      "name": "Simple ComfyUI Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "comfyui-simple"
    },
    {
      "parameters": {
        "url": "http://backend:8000/comfyui/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $json.prompt || 'a beautiful landscape' }}"
            },
            {
              "name": "negative_prompt",
              "value": "={{ $json.negative_prompt || '' }}"
            },
            {
              "name": "width",
              "value": "={{ $json.width || 512 }}"
            },
            {
              "name": "height",
              "value": "={{ $json.height || 512 }}"
            },
            {
              "name": "steps",
              "value": "={{ $json.steps || 20 }}"
            },
            {
              "name": "cfg",
              "value": "={{ $json.cfg || 7.0 }}"
            },
            {
              "name": "wait_for_completion",
              "value": true
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "simple-generate-2",
      "name": "Generate Simple Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Simple response formatting\nconst result = $input.first().json;\nconst originalPrompt = $('Simple ComfyUI Webhook').item.json.prompt || 'a beautiful landscape';\n\nif (!result.success) {\n  return {\n    success: false,\n    error: result.error || 'Generation failed',\n    prompt: originalPrompt\n  };\n}\n\nreturn {\n  success: true,\n  prompt: originalPrompt,\n  prompt_id: result.prompt_id,\n  message: 'Image generated successfully',\n  image_count: result.data?.outputs ? Object.keys(result.data.outputs).length : 0,\n  generation_time: new Date().toISOString()\n};"
      },
      "id": "simple-format-3",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "simple-response-4",
      "name": "Simple Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    }
  ],
  "connections": {
    "Simple ComfyUI Webhook": {
      "main": [
        [
          {
            "node": "Generate Simple Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Simple Image": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Simple Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1.0.0",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "comfyui-simple",
  "tags": [
    {
      "createdAt": "2024-01-15T12:00:00.000Z",
      "updatedAt": "2024-01-15T12:00:00.000Z",
      "id": "comfyui",
      "name": "ComfyUI"
    },
    {
      "createdAt": "2024-01-15T12:00:00.000Z",
      "updatedAt": "2024-01-15T12:00:00.000Z",
      "id": "simple",
      "name": "Simple"
    }
  ]
}